.tweet-button{
  background-color: lightskyblue;
  color: white;
  border: none;
  border-radius: 18px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
  vertical-align: middle;
  display: inline-block;
}
.image{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  vertical-align: middle;
  object-fit: cover;
  margin-right: 5px;
  display:inline-block;
  padding-left: 5px;
}
.text-box{
  border: none;
  font-size: 14px;
  height: 25px;
}
.search-box-container{
  border-width: 2px;
  border-style: solid;
  border-color: lightgrey;
  width:280px;
}