.Back-button{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  
}
.search-result{
  margin-right: 4px;
  margin-left: 4px;
  font-size: 18px;
}
.Next-button{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  
}